{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel neque mauris. 
            Pellentesque lobortis eros at lectus mattis scelerisque ac ut erat. 
            Suspendisse pretium congue leo, et mollis est pulvinar vitae. Mauris ut blandit nisi. 
            Donec aliquam nisi quis purus dictum blandit. Aenean convallis sagittis enim ac pulvinar. 
            Proin vitae erat purus. Duis sed urna turpis. Ut elementum velit ut neque ultricies ultricies. 
            Fusce ut tellus felis. Nullam in venenatis ligula. Praesent vel placerat lacus. 
            Cras iaculis suscipit mauris, eget maximus ipsum accumsan et. Ut volutpat ligula sit amet nisi 
            interdum, a sodales quam hendrerit. Maecenas sit amet velit et.
        </p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/iniciar_sesion"> Iniciar sesión</a>
            <a class="btn btn-dark" href="/signup">Registrarse</a>

        </div>
    </section>
</main>
    

{% endblock %}
